<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="relevanz_tracking" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>releva.nz Tracking</label>
            <tab>service</tab>
            <resource>Relevanz_Tracking::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="30" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Api Key</label>
                    <backend_model>Relevanz\Tracking\Model\Config\Backend\ApiKey</backend_model>
                </field>
                <field id="client_id" translate="label comment" type="text" sortOrder="40" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Client ID</label>
                    <frontend_model>Relevanz\Tracking\Block\Adminhtml\System\Config\Form\Field\ReadonlyField</frontend_model>
                    <comment>Automatically populated after a successful API key verification. Do not edit manually.</comment>
                </field>
                <field id="additional_html" translate="label comment" type="textarea" sortOrder="50" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Additional HTML example</label>
                    <comment>With additional html you can trigger the pixel depending on your cookie-consent.</comment>
                </field>
            </group>
        </section>
    </system>
</config>

